header { 
  background: #000;
  height: 150px;
  padding-top: 25px;
}
.btn >a { 
  color: #fff;
}
.btn.btn-primary { 
  margin: 4px;
}
h1 { 
  color:blanchedalmond;
}
.card-header{
  background-color: maroon;
  color: bisque;
}
.card-body{
  background-color: bisque;
  color: maroon;
}

